# The REG136_SEARCH_REPORT Table

Welcome to an in-depth exploration of the ``REG136_SEARCH_REPORT`` table. This table holds comprehensive data on search reports related to patent applications. Each patent application can be associated with up to three types of search reports:

European search reports, published by the European Patent Office (EPO) as A1 or A3 publications.
European supplementary search reports, which are not officially published but are documented in this table.
International search reports, published by WIPO as A1 or A2 publications.
The ``REG136_SEARCH_REPORT`` table provides crucial details about these search reports, including the type of search, relevant dates, publication information, and the language of publication. These search reports are essential for evaluating the novelty of patent applications, as they present the search results related to prior art, aiding the patent examination process.

In [1]:
from epo.tipdata.patstat import PatstatClient
from epo.tipdata.patstat.database.models import REG136_SEARCH_REPORT, REG101_APPLN
from sqlalchemy import select, func, case, select, and_

patstat = PatstatClient(env='PROD')

db = patstat.orm()

In [2]:
q = db.query(
    REG136_SEARCH_REPORT.id,
    REG136_SEARCH_REPORT.bulletin_year,
    REG136_SEARCH_REPORT.bulletin_nr,
    REG136_SEARCH_REPORT.office,
    REG136_SEARCH_REPORT.search_type,
    REG136_SEARCH_REPORT.mailed_date,
    REG136_SEARCH_REPORT.publn_auth,
    REG136_SEARCH_REPORT.publn_nr,
    REG136_SEARCH_REPORT.publn_kind,
    REG136_SEARCH_REPORT.publn_date,
    REG136_SEARCH_REPORT.publn_lg
)

res = patstat.df(q)
res

,id,bulletin_year,bulletin_nr,office,search_type,mailed_date,publn_auth,publn_nr,publn_kind,publn_date,publn_lg
0,87900066,1987,22,EP,ISR,9999-12-31,WO,8706075,A1,1987-10-08,de
1,87306660,1988,5,EP,NAT,9999-12-31,EP,0255340,A1,1988-02-03,en
2,86116496,1988,38,EP,NAT,9999-12-31,EP,0224878,A3,1988-09-21,de
3,86102832,1987,27,EP,NAT,9999-12-31,EP,0193929,A3,1987-07-01,en
4,87106909,1987,49,EP,NAT,9999-12-31,EP,0247434,A1,1987-12-02,en
...,...,...,...,...,...,...,...,...,...,...,...
9831649,23857702,2024,9,KR,ISR,9999-12-31,WO,2024043670,A1,2024-02-29,ko
9831650,23883340,2024,18,US,ISR,9999-12-31,WO,2024091423,A1,2024-05-02,en
9831651,23839190,2024,3,IN,ISR,9999-12-31,WO,2024013769,A1,2024-01-18,en
9831652,23885552,2024,19,JP,ISR,9999-12-31,WO,2024095790,A1,2024-05-10,ja
9831653,23212724,2024,23,EP,NAT,9999-12-31,EP,4379461,A1,2024-06-05,en

## Key Fields in the REG135_TEXT Table

### ID (Primary Key) 
The ID field serves as a technical identifier that uniquely connects patent applications across various tables.

### BULLETIN_YEAR 

In the PATSTAT database, the ``BULLETIN_YEAR`` field captures the year when an action or event related to a patent application was published in the EPO Bulletin. This field plays a critical role in tracking the timeline of patent events, ensuring chronological accuracy in analyses.

The ``BULLETIN_YEAR`` is a 4-digit numeric field (formatted as YYYY), with a default value of 0 to indicate cases where no bulletin publication is known. For entries where publication in the EPO Bulletin is confirmed, ``BULLETIN_YEAR`` reflects the corresponding year of publication. It is used in conjunction with ``BULLETIN_NR``, which specifies the bulletin issue number.
  
### BULLETIN_NR

The ``BULLETIN_NR`` attribute represents the issue number of the EPO Bulletin in which a specific action has been published. This number indicates the calendar week during which the Bulletin was released. It serves as a reference for identifying the exact edition of the EPO Bulletin where actions such as patent grants, publications, or other significant events are announced.

If the action was not published in the Bulletin or if the information is unknown, the default value of 0 is used for the ``BULLETIN_NR``, which corresponds to the absence of a known bulletin number. This value is only used when the associated ``BULLETIN_YEAR`` is also set to 0.

### OFFICE
The ``OFFICE`` attribute refers to the office where the search report was conducted. This can be a national office or an international authority, such as the EPO or WIPO. The domain for this field consists of up to 2 characters based on the WIPO ST.3 standard, such as "EP" for the European Patent Office or "WO" for WIPO.

In [3]:
q = db.query(
    REG136_SEARCH_REPORT.office
).distinct()

res = patstat.df(q)
res

   office
0      EP
1      JP
2      CN
3      US
4      KR
5      CA
6      ES
7      SE
8      AU
9      RU
10
11     BR
12     TR
13     FI
14     IN
15     AT
16     XN
17     IL
18     SG
19     SU
20     XV
21     CL
22     EG
23     UA
24     PH
25     EA
26     GB

### SEARCH_TYPE
The ``SEARCH_TYPE`` attribute identifies the type of search report generated for a patent application. It is a 3-character code where "NAT" denotes a European search, "SUP" represents a European supplementary search, and "ISR" stands for an international search. This helps in distinguishing between the different kinds of search reports, each of which has distinct characteristics and relevance for the application process.

In [4]:
q = db.query(
    REG136_SEARCH_REPORT.search_type
).distinct()

res = patstat.df(q)
res

  search_type
0         ISR
1         SUP
2         NAT

### MAILED_DATE
The ``MAILED_DATE`` indicates the dispatch date of the European supplementary search report for an international application. The default value is set to "9999-12-31", which serves as a placeholder in cases where the date is not provided. This attribute helps track when the supplementary search report was made available to the applicant or published.

### PUBLN_AUTH
The ``PUBLN_AUTH`` attribute specifies the authority responsible for the publication of the search report. The possible values for this field are "EP" for the European Patent Office or "WO" for WIPO. This attribute links the search report to the corresponding publication authority, ensuring proper attribution of the report to the relevant organization.

In [5]:
q = db.query(
    REG136_SEARCH_REPORT.publn_auth
).distinct()

res = patstat.df(q)
res

  publn_auth
0
1         WO
2         EP

### PUBLN_DATE
The ``PUBLN_DATE`` field captures the date when the search report was published. This is an essential date for understanding the timeline of the application process, marking when the results of the search were officially made available. The default value "9999-12-31" indicates that no publication date is provided.

### PUBLN_KIND
The ``PUBLN_KIND`` attribute defines the kind of publication associated with the search report. For example, "A1" or "A3" codes are used for European applications, while "A1" or "A2" codes might be used for international applications. This helps categorize the publication based on the type of report and its context in the application process.

In [6]:
q = db.query(
    REG136_SEARCH_REPORT.publn_kind
).distinct()

res = patstat.df(q)
res

  publn_kind
0
1         A1
2         A3
3         A2

### PUBLN_LG
The ``PUBLN_LG`` attribute specifies the language of the publication. The possible values for this field are "en" for English, "fr" for French, and "de" for German, in line with the official languages of the European Patent Office. This ensures that users can determine the language in which the search report was published, providing clarity for international users.

### PUBLN_NR
The ``PUBLN_NR`` is the document number for the published search report. It consists of up to 10 digits, with leading zeros included (e.g., "0044958"). This unique identifier is used to refer to the specific publication of the search report and is essential for cross-referencing and retrieving the report in the context of patent records.