# The REG203_PROC_STEP_DATE: Date of procedural step Table

Welcome to the ``REG203_PROC_STEP_DATE`` table overview. This table contains important date information related to procedural steps in the European Patent (EP) process. Specifically, it stores the dates of each procedural step, providing essential temporal data such as when certain actions within the patent process took place. Each record links a procedural step to its respective date, which helps track the timeline of the patent application process. This table is crucial for understanding the sequence of events and deadlines, adding another layer of detail to the procedural steps. Let's explore the attributes that capture the timing of patent processes in the EP system.

In [1]:
from epo.tipdata.patstat import PatstatClient
from epo.tipdata.patstat.database.models import REG201_PROC_STEP, REG101_APPLN, REG202_PROC_STEP_TEXT, REG203_PROC_STEP_DATE
from sqlalchemy import select, func, case, select, and_

patstat = PatstatClient(env='PROD')

db = patstat.orm()

## Key Fields in the REG203_PROC_STEP_DATE Table

### ID (Primary Key)
The ID field serves as a technical identifier that uniquely connects patent applications across various tables.

In [2]:
q = db.query(
    REG203_PROC_STEP_DATE.id
).limit(100)

res = patstat.df(q)
res

          id
0    9153352
1    4714728
2   15717341
3    8163658
4   17724028
..       ...
95   3291000
96    926325
97  89903318
98  10793396
99   5796129

[100 rows x 1 columns]

### STEP_ID (Primary Key)

The ``STEP_ID`` is a unique identifier assigned to each procedural step within the patent application process. It is present in multiple tables, including ``REG201_PROC_STEP``, ``REG202_PROC_STEP_TEXT``, ``REG203_PROC_STEP_DATE``, ``REG721_PROC_STEP``, ``REG722_PROC_STEP_TEXT``, and ``REG723_PROC_STEP_DATE``. This attribute serves as a key reference for identifying and linking procedural steps across various datasets. With a domain of up to 30 characters, it ensures precise tracking and organization of procedural events associated with patent applications.

### STEP_DATE (Primary Key)

The ``STEP_DATE`` attribute represents the date associated with a procedural step in the patent process. It captures the specific date when a particular procedural step occurred, providing essential temporal information for each step's timeline. This attribute helps to track the progression of a patent through the various procedural phases. It does not have a default value, as each procedural step must be linked to an actual date. The date format follows standard conventions, ensuring consistency in documenting and analyzing the chronological sequence of patent steps.

### STEP_DATE_TYPE (Primary Key)

The STEP_DATE_TYPE attribute describes the specific type of date related to a procedural step in the patent process. It identifies the role or event associated with the date, providing a deeper understanding of the timing and context of the step:
- CANCT Date of cancellation
- DISPA Date of dispatch
- DRAEX Decision date of Request for Accelerated Examination (RAEX)
- EFFEC Date effective
- GRNTF Grant fee paid
- LAPPR Date of later approval
- PAYM1 Date of payment 1
- PAYMN Date of payment
- PRNTF Print fee paid
- RAEXA Date of Request for Accelerated Examination (RAEX)
- RECPT Date of receipt
- REPLY Date of reply
- REQST Date of request
- RESLT Result date
- TCLMS Translation of claims
- WV713 Waiver agreement, according to Rule 71(3)
- DTREG Date of registration
- DTDEC Date of decision
- DTNOT Date of notification
- LCNSC Date of license commitment
- DTREC Date of receipt
- WDRWL Date of withdrawal
- FIACT Date of filing action
- FIDEC Date of filing decision
- FIAPP Date of filing appea

In [3]:
q = db.query(
    REG203_PROC_STEP_DATE.id,
    REG203_PROC_STEP_DATE.step_id,
    REG203_PROC_STEP_DATE.step_date,
    REG203_PROC_STEP_DATE.step_date_type,
    REG201_PROC_STEP.step_phase,
    REG201_PROC_STEP.step_result
).join(
    REG203_PROC_STEP_DATE, REG201_PROC_STEP.id == REG203_PROC_STEP_DATE.id
).limit(100)

res = patstat.df(q)
res

,id,step_id,step_date,step_date_type,step_phase,step_result
0,8733883,STEP_ABEX_7764411,2013-11-13,REQST,UNDEF,
1,8733883,STEP_EXRE_1176950,2014-04-22,REPLY,UNDEF,
2,8733883,STEP_2005621,2010-11-02,PAYMN,UNDEF,
3,8733883,STEP_EXRE_1176951,2014-12-09,REPLY,UNDEF,
4,8733883,STEP_IGRA_603056,2015-12-08,GRNTF,UNDEF,
...,...,...,...,...,...,...
95,4291956,STEP_LOPR_585708,2005-11-21,DISPA,EXAMN,
96,4291956,STEP_LOPR_585688,2005-11-21,DISPA,EXAMN,
97,4291956,STEP_LOPR_585696,2005-08-03,EFFEC,EXAMN,
98,4291956,STEP_PFEE_1492550,2005-09-07,DISPA,EXAMN,
99,4291956,STEP_LOPR_585691,2005-11-21,DISPA,EXAMN,

Let's see the distinct types of step date.

In [5]:
q = db.query(
    REG203_PROC_STEP_DATE.step_date_type
).distinct()

res = patstat.df(q)
res

   step_date_type
0           GRNTF
1           PRNTF
2           RESLT
3           RAEXA
4           PAYMN
5           EFFEC
6           CANCT
7           REQST
8           REPLY
9           PAYM1
10          DISPA
11          LAPPR
12          RECPT
13          TCLMS
14          DRAEX
15          WV713